<div class="container-fluid" [style.background-color]="'grey'" [style.padding]="'40px'">
    <h1 [style.color]="'red'" [style.text-align]="'center'">Architects Of Digital Transformation</h1><br><br>
    <p [style.color]="'white'"[style.text-align]="'center'">Given the age we are in, for a product or solution not being digital is equivalent to existing in the ice age.<br>
        With the advent of digitization, nothing that exists in silos is sustainable. Connectivity is now akin to oxygen<br>
        for survival and even someone on the moon with an internet connection becomes a prospective customer to any<br>
        business. Digital Transformation forms the success-genome for enterprises today. Any business is first a digital<br>
        enterprise before it assumes an industry vertical; be it software, apparel, construction, auto-parts and so on.<br>
        Digital transformation is the adaptation of digital technology in all aspects of the society as businesses today<br>
        are more intricately connected with the ecosystem that connects them with their consumer, directly or<br>
        indirectly. Horizontals, within an organization, like Sales, operations, human resources are now data driven<br>
        powered by analytics than being purely opinionated. To put it simply; technology enables every decision to be<br>
        backed by measurable & empirical data, the extrapolation of which warrants smarter business decisions while not<br>
        just relying on intuition.</p><br><br>
        <p [style.text-align]="'center'"><img src="assets/Digital.png" alt="" [style.width]="'1000px'" [style.height]="'400px'"></p>
        <div>
            <img src="assets/style.png" alt="" [style.width]="'100%'" [style.height]="'400px'">
        </div><br>
</div>